<html><head></head><body>
<form method="POST" action="/images" enctype="multipart/form-data">
    <input type="text" name="textfield"><br />
    <input type="file" name="filefield"><br />
    <input type="submit">
</form>
</body></html>