<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
</head>

<body>
<form method="post" action="/signin">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="LOGIN">
</form>
</body>
</html>