<!DOCTYPE html>
<html>
<head>
    <title><%=title%></title>
</head>

<body>
<form method="post" action="/articles">
    <input type="text" name="title">
    <textarea name="content"></textarea>
    <input type="submit" value="Post">
</form>
</body>
</html>