<!DOCTYPE html>
<html>
<head>
    <title>Respect</title>
</head>

<body>
<form method="post" action="/posts" enctype="multipart/form-data">
    <textarea name="content"></textarea>
    <input type="file" name="file" id="file">
    <input type="submit" value="Post">
</form>
</body>
</html>